body {
	margin: 0;
	padding: 0;
  font-family: 'Montserrat', Helvetica, Arial;
}

header {
	background-color: #000000;
	color: #fff;
	padding: 20px;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	margin: 0;
	padding: 0;
  list-style-type:none;
  text-align:center;
}

nav li {
	display: inline-block;
}


nav a {
	background-color: black;
	color: #fff;
	text-decoration: none;
	padding-left: 25px;
  padding-right: 25px;
  transition: 0.15s;
}

nav a:hover {
	opacity: 0.75;
}

.chicken {
	width: 50px;
}